@import "@/styles/variables";

.avatar {
  margin-right: 10px;

  img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
  }

  svg {
    width: 50px;
    height: 50px;
  }
}

.login {
  color: $secondary;
  font-size: 15px;
  font-weight: 700;
}

.rank {
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
}
