@import "@/styles/variables";

.button {
  position: absolute;
  z-index: 1000;
  background: #fff;
  outline: 0.5px solid $gray;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 8px 16px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    background: $red;
    color: #fff;
    outline: none;
  }
}
