@import "@/styles/variables";

.container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 0.5px solid $lightGray;
  background: #fff;
  z-index: 1000;
  padding: 12px 0;
  display: none;

  @media (max-width: 720px) {
    display: flex;
  }
}

.link {
  color: $secondary;
  font-size: 15px;
  font-weight: 600;
  transition: all 0.2s ease-in-out;

  svg {
    path {
      transition: all 0.2s ease-in-out;
    }
  }

  span {
    margin-left: 5px;
  }

  &:hover {
    color: $primary;

    svg {
      path {
        fill: $primary;
      }
    }
  }
}
