@import "variables";

@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  width: 100%;
  max-width: 1350px;
  padding: 0 25px;
  margin: 0 auto;
}

a {
  user-select: none;
}

input,
textarea {
  outline: none;
}

main {
  padding-bottom: 50px !important;
}

// Editor.js
.ce-block__content {
  max-width: 100% !important;
}

.ce-toolbar__content {
  max-width: unset;
}

.ce-toolbar {
  margin-left: 50px !important;
}

.codex-editor__redactor {
  padding-bottom: 0 !important;
}

.ce-paragraph.cdx-block {
  &:before {
    color: $gray !important;
    font-size: 20px !important;
  }
}

.ce-popover.ce-popover--opened {
  @media (max-width: 650px) {
    bottom: calc(60px + env(safe-area-inset-bottom)) !important;
  }
}

.cdx-input.image-tool__caption {
  display: none !important;
}

.image-tool__image-picture {
  border-radius: 15px !important;
  width: 50% !important;
}

.ce-toolbar__actions.ce-toolbar__actions--opened {
  right: 0 !important;
}
